body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    background-color: #075e54;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .sidebar {
    width: 30%;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
  }
  
  .chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #e5ddd5; /* Fondo similar al de WhatsApp */
  }
  
  /* Estilos para las burbujas de chat */
  .message {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
  }
  
  .message.sent {
    background-color: #dcf8c6; /* Verde claro para mensajes enviados */
    align-self: flex-end;
  }
  
  .message.received {
    background-color: #ffffff; /* Blanco para mensajes recibidos */
    align-self: flex-start;
  }
  
  .message span {
    word-wrap: break-word;
  }
  
  /* Estilos para los ticks */
  .tick {
    font-size: 12px;
    color: #999; /* Gris por defecto */
    margin-left: 10px;
  }
  
  .chat-input-container {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  #message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .send-btn {
    padding: 10px 20px;
    background-color: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }